!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".style.css"/>
 #box
width: 200px;
height: 200px;
background color: lightblue;
color: :-moz-only-whites
display: flex;
text -align: emter  

border: 2px solid black;
padding: 10em; gan border
margin:10rcm;  ria ben ngoai, phan tu gan nhat
</head>
<body>  


go truc tiep cu phap "style"
<!-- Một số thẻ block - chỉnh được content có thể chỉnh dc kích thước, xuống dòng
<!-- h1, h6, p, ul, li, ol, o, i, b, br, em, 

span classss="contriner"
<styl>
'inline'

<table>
border box - margin - padding
 div

<i class="fa-brands fa-youtube"></i>

.header(
    height: 40px
    background- color:
    display: flex;
    align-item
)
</styl(e
j-icon(


 mini-icon  
 wight: 24px;
 height: 24px

 -right -icon

)

<table>
<tr>
    <td>

    